*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

a{
    color: #212121;
}

a:hover, a:active, a:focus{
    outline: none;
}

input[type=text],input[type=password],input[type=button],input[type=submit]{
    -webkit-appearance: none;
}

input[type=button],input[type=submit]{
    border-radius: 3px;
}

@media screen and (min-width: 767px){
    html{
        height: 100%;
    }

    #wrapper{
        min-height: 100%;
    }


}

body{
    background: #fff;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
    line-height: 1.25;
    padding-bottom: 100px;
    position: relative;
    min-height: 100%;
}

input[type=text],textarea{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12px;
    color: #212121;
    line-height: 1.25; 
}

h2{
    font-size: 36px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
}

/*#wrapper{*/
    /*overflow: hidden;*/
/*}*/

.container{
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 767px){
    .container{
        width: 100%;
        padding: 0 2%;
    }
    h2{
        font-size: 24px;
    }

    body{
        font-size: 14px;
    }
}

.container:after{
    clear: both;
    display: block;
    content: "";
}

/* helping classes */
.clr{
    clear: both;
}

.clr:after{
    clear: both;
    display: block;
    content: "";
}

.textRight{
    text-align: right!important;
}

.textCenter{
    text-align: center!important;
}

.space-top{
    padding-top: 30px;
}

.site_color-red{
    color: #e50000!important;
}

.fullwidth{
    width: 100%!important;
}

strong{
    font-weight: 600!important;
}

.red{
    color: #e50000!important;
}

.green{
    color: #1e8434!important;
}

.orange{
    color: #ea6c21!important; 
}

.blue{
    color: #346f8a!important; 
}

.spacing-top{
    padding-top: 15px;
}

.spacing_big-right{
    padding-right: 45px!important;
}

.smallest{
    font-size: 12px!important;
}

.site_color-gray{
    color: #727272!important;
}

.textNormal{
    text-transform: none!important;
}
/* end helping classes */

/* buttons */
[class*="site_button"]{
    display: inline-block;
    height: 48px;
    line-height: 45px;
    border: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 3px!important;
    -webkit-appearance: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    min-width: 200px;
    transition: all .2s linear;
    padding: 0 20px;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;

    /* default settings */
    background: #333;
    border-bottom-color: #232323;
}

[class*="site_button"].onlyBorder{
    line-height: 42px;
}

[class*="site_button"].button-small{
    height: 36px;
    line-height: 32px;
    font-size: 14px;
    min-width: 0;
    padding: 0 30px;
}

.iconButton{
    width: 24px!important;
    height: 24px!important;
    background-position: center!important;
    padding: 0!important;
}

.site_button-orange{
    background: #ea6c21;
    border-bottom-color: #b54b1a;
}

.site_button-orange.onlyBorder{
    background: none;
    border: 3px solid #ea6c21;
    color: #212121;
}

[class*="site_button"]:hover, [class*="site_button"]:active{
    background: #ddd;
    border-bottom-color: #ccc;
    color: #aaa;
}

.site_button-orange.onlyBorder:hover, .site_button-orange.onlyBorder:focus, .site_button-orange.onlyBorder:active{
    background: none;
    border-color: #ccc;
    color: #ccc;
}

[class*="site_button"].site_button-transparent{
    border: 0!important;
    background: none;
    background-color: none!important;
    background-image: none!important;
    color: #ea6c21;
    text-align: left;
    position: relative;
    padding-left: 30px!important;
    line-height: 48px;
    transition: none!important;
    margin-left: 15px;
    width: auto!important;
    min-width: 0!important;
}

[class*="site_button"].site_button-transparent.back-button:before{
    position: absolute;
    width: 16px;
    height: 26px;
    background-image: url(../images/arrow_back.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

[class*="site_button"].site_button-transparent.back-button:hover{
    color: #aaa;
}

[class*="site_button"].site_button-transparent.back-button:hover:before{
    background-position: 0 -26px;
}

/* end buttons */

/* icons */
[class*="site_icon"]{
    padding-left: 36px;
    min-height: 24px;
    display: inline-block;
    background-position: 0 center;
    background-repeat: no-repeat;
}

.site_icon-solar{
    background-image: url(../images/solar.png);
}

.site_icon-energy{
    background-image: url(../images/energy.png);
}

.site_icon-location{
    background-image: url(../images/location.png);
    background-position: 0 2px;
}

.site_icon-map{
    background-image: url(../images/map.png);
}

.site_icon-options{
    background-image: url(../images/options.png);
}

.site_icon-pass{
    background-image: url(../images/pass.png);
}

.site_icon-link{
    background-image: url(../images/link.png);
}

.site_icon-info{
    background-image: url(../images/info.png);
}

.site_icon-download{
    background-image: url(../images/download.png);
}

.site_icon-delete{
    background-image: url(../images/delete.png);
}

.site_icon-reviews{
    background-image: url(../images/chat.png);
}

.site_icon-phone-white{
    background-image: url(../images/phone-white.png);
    min-height: 32px;
    padding-left: 40px;
}

.site_icon-phone_gray{
    background-image: url(../images/phone-gray.png);
    min-height: 32px;
    padding-left: 40px;
}

.site_icon-person{
    background-image: url(../images/person.png);
}

.site_icon-mail_gray{
    background-image: url(../images/mail-gray.png);
}

.site_icon-mail-white{
    background-image: url(../images/mail.png);
    min-height: 32px;
    padding-left: 40px;
}

.site_icon-status_consideration{
    background-image: url(../images/status-consideration.png);
}

.site_icon-status_canceled{
    background-image: url(../images/status-canceled.png);
}

.site_icon-status_done{
    background-image: url(../images/status-done.png);
}

.site_icon-status_moderation{
    background-image: url(../images/status-moderation.png);
}

.site_icon-status_refused{
    background-image: url(../images/status-refused.png);
}

.site_icon-status_runs{
    background-image: url(../images/status-runs.png);
}

.site_icon-edit{
    background-image: url(../images/edit.png);
}

[class*="site_icon"] a{
    text-decoration: none;
    color: #212121;
    transition: color .2s linear;
}

.top10-item [class*="site_icon"] a:hover{
    color: #ea6c21;
}
/* end icons */

/* header */
#header{
    height: 72px;
    border-bottom: 1px solid #9bc3d6;
    position: relative;
    z-index: 9;
}

#header .container{
    height: 100%;
}

#logo{
    float: left;
    margin-top: 18px;
    position: relative;
    z-index: 2;
}

#hamburger{
    display: none;
}

#mainMenu{
    float: right;
    height: 24px;
    margin-top: 24px;
}

#mainMenu > ul:after{
    clear: both;
    display: block;
    content: "";
}

#mainMenu > ul > li{
    float: left;
    list-style: none;
    position: relative;
}

#mainMenu > ul > li:not(:first-child){
    margin-left: 30px;
}

#mainMenu > ul > li > a{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
    font-weight: 600;
    transition: color .2s linear;
    vertical-align: middle;
}

#mainMenu > ul > li:hover > a{
    color: #ea6c21;
}

#mainMenu > ul ul{
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.showSubMenu{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin: 16px 0 0 3px;
}

.showSubMenu:after{
    content: "";
    border: 5px solid transparent;
    border-top-color: #212121;
}

#mainMenu li li{
    display: block;
    padding: 0 25px;
}

#mainMenu li li a{
    display: block;
    padding: 4px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
    font-weight: 600;
    transition: color .2s linear;
    height: 40px;
    line-height: 36px;
}

#mainMenu li li:hover{
    background: #f3f3f3;
}

#mainMenu li li.userProfileLink a{
    font-weight: bold;
    color: #3b7d9c;
}

.logoutLink{
}

@media screen and (min-width: 1024px){
    #mainMenu > ul > li:hover ul{    
        display: block;
    }

    #mainMenu > ul > li:last-child:hover ul{
        right: 0;
        left: auto;
    }
    
    #mainMenu li li:not(:last-child) a{
        border-bottom: 1px solid #ccc;
    }
}

@media screen and (min-width: 767px){
    #mainMenu > ul ul{
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        white-space: nowrap;
        background: #fff;
        border: 1px solid #bdbdbd;
        box-shadow: 0 3px 6px rgba(0,0,0,.5);
    }
}

@media screen and (max-width: 767px){
    #header:not(.withHamburger){
        height: 108px;
    }

    .showSubMenu{
        float: right;
        width: 24px;
        height: 24px;
        margin: 0;
    }

    .showSubMenu:after{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px;
    }

    #logo{
        float: none;
        display: inline-block;
    }

    #header:not(.withHamburger) #mainMenu{
        width: 100%;
        float: none;
        margin-top: 12px;
    }

    #header.withHamburger #mainMenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    
    #header.withHamburger #mainMenu > ul{
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #fff;
        margin-top: 1px;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
    }

    #header.withHamburger #mainMenu > ul > li{
        margin-left: 0;
        float: none;
        padding: 4px 2%;
    }

    #hamburger{
        display: block;
        position: absolute;
        width: 24px;
        height: 20px;
        border-top: 4px solid #212121;
        top: 50%;
        right: 15px;
        margin-top: -10px;
    }

    #hamburger:after, #hamburger:before{
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background: #212121;
        margin-top: 4px;
    }
}
/* end header */

/* main page header */
#mainPageHeader{
    background: url(../images/headImg.jpg) top center no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    padding: 40px 0;
    position: relative;
}

#mainPageHeader h1{
    margin-top: 0;
    font-size: 48px;
    color: #fff;
    text-shadow: 0px 1px 2px #28425d;
    line-height: 1.7;
    margin-bottom: 40px;   
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 900; 
}

#mainPageHeader h1 span{
    display: block;
    font-size: 30px;
    font-weight: 600;
}

@media screen and (min-width: 767px){
    #mainPageHeader h1{
        padding-top: 110px;
    }
}

@media screen and (max-width: 992px){
    #mainPageHeader{
        background-position: left center;
    }
}

@media screen and (max-width: 500px){
    #mainPageHeader{
        height: 400px;
    }

    #mainPageHeader *{
        position: relative;
        z-index: 2;
    }

    #mainPageHeader h1{
        line-height: 1.1;
        font-size: 27px;
        padding-top: 100px;
    }

    #mainPageHeader h1 span{
        font-size: 23px;
    }

    #mainPageHeader:after{
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: rgba(0,0,0,.12);
        content: "";
    }
}
/* end main page header */

/* pageBlock */
.pageBlock{
    padding: 82px 0;
}
/* end pageBlock */

/* three steps */
#three_steps{
    text-align: center;
}

#three_steps h4{
    width: 33.33%;
    float: left;
    position: relative;
    padding-top: 182px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 600;
}

#three_steps [class*="site_button"]{
    margin-top: 45px;
}

@media screen and (min-width: 620px){
    #three_steps h4:not(:first-child):before{
        content: "";
        width: 48px;
        height: 48px;
        background: url(../images/arrow_next.png) center no-repeat;
        left: -24px;
        top: 60px;
        position: absolute;
    }
}

@media screen and (min-width: 620px) and (max-width: 767px){
    #three_steps h4{
        background-size: 130px auto;
        font-size: 17px;
    }
    #three_steps h4:not(:first-child):before{
        top: 50px;
    }
}

@media screen and (max-width: 620px){
    #three_steps h4{
        width: 100%;
        padding-top: 172px;
    }

    #three_steps h4:not(:first-child){
        margin-top: 60px;
    }
}
/* end three steps */

/* review slider */
.review_slider{
    background: #3b7d9c;
    height: 360px;
    position: relative;
}

.review_slider .container, #reviewSlider{
    height: 100%;
}

.reviewSlides{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.reviewSlide{
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
}

.reviewPic{
    float: left;
    height: 360px;
    width: 50%;
    overflow: hidden;
}

.reviewPic img{
    min-width: 100%;
    height: 100%;
}

.reviewInfo{
    width: 50%;
    float: left;
    height: 360px;
    position: relative;
    padding: 55px;
    overflow: hidden;
}

.review_category{
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    line-height: 36px;
    background: #9bc3d6;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.reviewSlide h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.project_price{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 22px;
}

.project_price span{
    font-size: 18px;
}

.review_quote{
    padding-left: 70px;
    background: url(../images/quote.png) 0 0 no-repeat;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.56;
    margin-bottom: 20px;
}

.review_author{
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

#reviewSlider-pagination{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 32px;
    z-index: 5;
    text-align: center;
}

#reviewSlider-pagination span{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: rgba(255,255,255,.3);
    margin: 0 3px;
    cursor: pointer;
}

#reviewSlider-pagination span.active{
    background: rgba(255,255,255,.6);
}

@media screen and (max-width: 992px){
    .reviewSlide h3{
        font-size: 18px;
    }

    .project_price{
        font-size: 24px;
    }

    .review_quote{
        background-size: 32px auto;
        padding-left: 40px;
        font-size: 14px;
    }

    .review_author{
        text-align: left;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px){
    .review_slider{
        height: 560px;
    }

    .reviewPic{
        width: 100%;
        height: 200px;
    }

    .reviewInfo{
        width: 100%;
        height: 300px;
        padding-left: 0;
        padding-right: 0;
    }
}
/* end review slider */

/* top 10 */
.top10-intro{
    width: 30%;
    float: left;
    padding-right: 60px;
}

.top10-intro h3{
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

.top10-intro h3:after{
    content: "";
    height: 4px;
    width: 125px;
    margin-top: 20px;
    background: #ea6c21;
    display: block;
}

.top10-intro p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

.top10-intro h3 span{
    display: block;
}

.top10-list{
    width: 70%;
    float: right;
}

.top10-item{
    position: relative;
    min-height: 118px;
    padding-left: 132px;
    margin-bottom: 30px;
}

.top10-item [class*="site_icon"]{
    font-size: 12px;
}

.top10-userpic{
    height: 118px;
    width: 118px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
}

.top10-userpic img{
    width: 100%;
    height: 100%;
    display: block;
}

.top10-item h5{
    margin-top: -3px;
    margin-bottom: 6px;
}

.top10-item h5 a{
    font-size: 16px;
    color: #212121;
    text-decoration: none;
    transition: color .2s linear;
}

.top10-item h5 a:hover{
    color: #ea6c21;
}

.top10-item [class*="site_icon"]{
    line-height: 24px;
}


@media screen and (min-width: 767px){
    .top10-item{
        width: 45%;
    }

    .top10-item:nth-child(odd){
        float: left;
    }
    .top10-item:nth-child(even){
        float: right;
    }
}

@media screen and (max-width: 992px){
    .top10-intro{
        margin-bottom: 30px;
        padding-right: 0;
    }

    .top10-intro, .top10-list{
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .top10-item{
        min-height: 88px;
        padding-left: 103px;
    }

    .top10-userpic{
        width: 88px;
        height: 88px;
    }
}
/* end top 10 */

/* footer */
#footer{
    background: #346f8a;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    min-height: 84px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

}

#footer a{
    color: #fff;
    text-decoration: underline;
}

#footer .site_icon-phone-white, #footer .site_icon-mail-white, .copyright{
    line-height: 32px;
}

@media screen and (min-width: 600px){
    #footer{
        height: 84px;
    }

    #footer > .container > *{
        float: left;
        margin-right: 30px;
    }
}

@media screen and (max-width: 600px){
    #footer > .container > *{
        margin: 5px 0;
    }
    body{
        padding-bottom:144px;
    }
}
/* end footer */

/* content */
#content{
    padding-top: 50px;
    padding-bottom: 30px;
}

.projectHeader{
    margin-bottom: 32px;
}

.projectHeader h1{
    font-size: 36px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.projectStatus{
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}

.label_status{
    margin-right: 10px;
}

.contentBlock:not(:last-child){
    margin-bottom: 48px;
}

.contentBlock.bordered > .container, .bordered > div:first-child{
    width: 96%;
    padding: 0;
    border: 1px solid #9bc3d6;
    padding: 30px; 
}

.contentBlock.bordered > .container > h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 21px;
}

.contentBlock > .container > h3{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #3b7d9c;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contentBlock.noborderTitle > .container > h3{
    border-bottom: 0;
}

.contentBlock > .container > h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contentBlock ul{
    margin-left: 30px;
    margin-bottom: 30px;
}

.contentBlock ul li{
    font-size: 16px;
    line-height: 1.5;
}

.contentBlock ul li:not(:last-child){
    margin-bottom: 15px;
}

.specialBlock{
    padding-left: 30px;
    border-left: 5px solid #9bc3d6;
    margin-bottom: 30px;
}

.specialBlock li{
    list-style: none;
}

.contentBlock h5{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.contentBlock p{
    font-size: 16px;
    line-height: 1.5;
}

.contentBlock p:not(:last-child){
    margin-bottom: 15px;
}

.project_photo:after{
    clear: both;
    display: block;
    content: "";
}

.project_photo a{
    float: left;
    margin-right: 30px;
    border: 1px solid #d9d9d9;
}

.project_photo a img{
    display: block;
}

.clientSpecialist{
    margin-top: 90px;
}

.clientSpecialist > div{
    width: 48%;
    padding-left: 174px;
    min-height: 144px;
}

.clientSpecialist > div:nth-child(1){
    float: left;
}

.clientSpecialist > div:nth-child(2){
    float: right;
}

.clientBlock{
    background: url(../images/client.png) 0 0 no-repeat;
}

.specialistBlock{
    background: url(../images/specialist.png) 0 0 no-repeat;
}

.clientSpecialist > div > h3{
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #9bc3d6;
    margin-bottom: 30px;
    font-weight: 600;
    max-width: 300px;
}

.clientDatas > div:not(:first-child){
    margin-top: 6px;
}

.clientDatas [class*="site_icon"]{
    height: 32px;
    line-height: 32px;
    padding-left:32px;
    font-size: 16px;
}

.clientDatas a{
    color: #212121;
    text-decoration: underline;
}

.clientDatas a:hover{
    text-decoration: none;
}

.clientSpecialist-status + .showHideBlock{
    margin-top: 30px;
}

.selectOfSpec select, .clientSpecialist-status select{
    border-bottom: 1px solid #3b7d9c;
    width: 280px;
    max-width: 100%;
    height: 30px;
    background: url(../images/select_blue.jpg) right center no-repeat;
    cursor: pointer;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    font-size: 16px;
    color: #212121;
}

.specialist-price{
    padding: 15px 0;
    color: #346f8a;
    font-weight: 600;
    font-size: 18px;
}

.specialist-comisia{
    font-size: 16px;
}

.specialist-comisia strong{
    margin-right: 3px;
}

.specialist-comisia span{
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #3b7d9c;
    padding-right: 15px;
}

.checkbox-special{
    position: absolute;
    left: -9999px;
}

.checkbox-special + label{
    display: inline-block;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
}

#specialist-isPaid + label{
    margin-left: 30px;
}

.checkbox-special + label:before{
    content: "";
    height: 14px;
    width: 38px;
    border-radius: 14px;
    background: #ccc;
    opacity: .5;
    position: absolute;
    display: block;
    left: 7px;
    top: 50%;
    margin-top: -7px;
}

.checkbox-special:checked + label:before{
    background: #CDE1EA url(../images/ok.png) 3px center no-repeat;
}

.checkbox-special + label:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #999;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    transition: all .2s linear;
}

.checkbox-special:not(:checked) + label:after{
    left: 0;
}

.checkbox-special:checked + label:after{
    left: 29px;
    background: #346f8a;
}

.clientSpecialist-status{
    margin-top: 45px;
}

.clientSpecialist-status-label{
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.clientSpecialist-status select{
    width: 210px;
}

.buttonsWrapper{
    padding-top: 48px;
}

@media screen and (min-width: 1025px){
    .block-montage > .container > div{
        position: relative;
    }

    .projectMap{
        /*
        position: absolute;
        top: 0px;
        right: 0px;*/
        width: 50%;
        height: 384px;
        float: right;
    }

    #projectMap{
        height: 100%;
    }
}

@media screen and (max-width: 1024px){
    .projectMap{
        width: 100%;
        height: 384px;
        margin-bottom: 30px;
    }

    #projectMap{
        height: 100%;
    }

    .clientSpecialist > div{
        width: 100%;
        padding-left: 0px;
        padding-top: 161px;
        min-height: 144px;
    }

    .clientSpecialist > div{
        margin-bottom: 30px;
    }

    .clientSpecialist > div:nth-child(1), .clientSpecialist > div:nth-child(2){
        float: none;
    }
}

@media screen and (min-width: 767px){
    .projectHeader[class*="projectCat"] > .container{
        padding-left: 200px;
        min-height: 135px;
    }

    [class*="projectCat"] > .container{
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-top: 33px;
    }

    .projectCat-solar > .container{
        background-image: url(../images/station-solar.png);
    }

    .projectCat-hybrid > .container{
        background-image: url(../images/station-hybrid.png);
    }

    .projectCat-network > .container{
        background-image: url(../images/station-network.png);
    }

    .projectCat-offline > .container{
        background-image: url(../images/station-offline.png);
    }

    .projectCat-privatesolar > .container{
        background-image: url(../images/station-privatesolar.png);
    }

    .additionalBlock{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -18px;
    }

}

@media screen and (max-width: 767px){
    .projectMap{
        height: 280px;
    }

    .projectHeader h1{
        font-size: 24px;
    }

    .contentBlock.bordered > .container > h2{
        font-size: 21px;
    }

    .contentBlock.bordered > .container{
        padding: 15px;
    }

    .contentBlock ul li, .contentBlock h5, .contentBlock p{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){
    .project_photo > a, .project_photo > a img{
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .project_photo > a:not(:first-child){
        margin-top: 10px;
    }
}
/* end content */

/* lightbox modified */
.lb-outerContainer{
    border-radius: 0;
}

.lb-container{
    padding: 0;
}

.lightbox .lb-image{
    border-radius: 0;
}

.lb-dataContainer{
    box-sizing: border-box;
    background: #346f8a;
    padding: 0;
    border-radius: 0;
}

.lb-data{
    padding: 8px 20px;
    position: relative;
    min-height: 32px;
}

.lb-closeContainer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
}

.lb-data .lb-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    background-size: 16px auto;
    background-position: center;
}

.lb-data .lb-caption{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
/* end lightbox modified */

/* showHideBlock */
.showHideBlock{
    margin: 15px 0;
    border: 1px solid #3b7d9c;
    max-width: 700px;
    width: 96%;
}

.showHideLabel{
    display: block;
    padding: 10px 45px;
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.showHideBlock .showHideLabel:before{
    color: #3B7D9D;
    font-size: 28px;
    font-family: Open Sans;
    position: absolute;
    left: 11px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
}

.showHideBlock.displayed .showHideLabel:before{
    content: "-";
    font-size: 36px;
    margin-top: -15px;
}

.showHideBlock:not(.displayed) .showHideLabel:before{
    content: "+"
}

.showHideContent{
    padding: 15px;
    border-top: 1px solid #3b7d9c;
}

.showHideBlock:not(.displayed) .showHideContent{
    display: none;
}

.showHideBlock.displayed .showHideContent{
    display: block;
}

.showHideContent textarea{
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
}
/* end showHideBlock */

/* block reviews */
.reviewWrapper{
    margin-bottom: 45px;
}

.review-edit a{
    color: #212121;
    font-size: 16px;
    text-decoration: underline;
}

.review-name{
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    padding-left: 32px;
}

.review-date{
    color: #727272;
    font-size: 12px;
}

.sym_plus{
    position: relative;
}

.review-name:before{
    color: #3B7D9D;
    font-size: 28px;
    font-family: Open Sans;
    position: absolute;
    width: 24px;
    margin-left: -32px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.sym_plus:before{
    content: "+";
    top: -3px;
}

.sym_minus:before{
    content: "";
    width: 14px;
    height: 3px;
    background-color: #e50000;
    top: 8px;
}

.review-edit a:hover, .review-edit a:focus, .review-edit a:active{
    text-decoration: none;
}

    .review-sym span{
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 48px;
        background: #ea6c21;
        text-align: center;
        line-height: 48px;
        font-size: 32px;
        color: #fff;
    }

    .review-project a{
        font-size: 16px;
        text-decoration: underline;
    }

    .review-project a:hover{
        text-decoration: none;
    }

    .review-project_price{
        font-size: 18px;
        padding-top: 8px;
        font-weight: 600;
        color: #346f8a;
    }

@media screen and (min-width: 767px){
    .reviewWrapper > *{
        float: left;
    }

    .review-author{
        width: 20%;
    }

    .review-sym{
        float: left;
        width: 60px;
    }
    
    .block-reviews:not(.review_noEdit) .review-author{
        text-align: right;
        padding-right: 30px;
    }

    .block-reviews.review_noEdit .review-date{
        padding-left: 32px;
    }
    
    .block-reviews.review_noEdit h3{
        padding-bottom: 0!important;
        border: 0!important;
    }

    .review{
        width: 60%;
    }

    .review-sym + .review{
        width: 70%;
    }

    .review-edit{
        width: 20%;
        padding-left: 30px;
    }

    .review-project{
        width: 20%;
        padding-left: 30px;
        position: relative;
    }

    .review-project:before{
        content: "";
        border-left: 4px solid #9bc3d6;
        left: 5px;
        top: 0;
        height: 100%;
        position: absolute;
    }

    .review-edit_button{
        float: right;
    }
}

@media screen and (max-width: 767px){
    .reviewWrapper > *:not(:first-child){
        margin-top: 15px;
    }

    .review-name{
        margin-bottom: 4px;
    }

    .review-date{
        padding-left: 32px;
    }
}
/* end block reviews */

/* leave testimonials */
#leaveTestimonials{
    width: 95%;
    max-width: 800px;
    margin: 50px auto 0 auto;
    padding-bottom: 45px;
}

#leaveTestimonials h2{
}

.checkboxChoices{
    max-width: 376px;
    margin: 0 auto 55px auto;
    height: 32px;
    position: relative;
}

.clr > .checkboxChoices{
    float: left;
}

#leaveTestimonials-type:before, #leaveTestimonials-type:after{
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -8px;
}

#leaveTestimonials-type:before{
    background: url(../images/positive.png) center no-repeat;
    left: 0px;
}

#leaveTestimonials-type:after{
    background: url(../images/negative.png) center no-repeat;
    right: 0px;
}

.checkboxChoices label{
    cursor: pointer;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 10;
}

#leaveTestimonials-type label{
    padding: 0 58px; 
}

.checkboxChoices label div{
    position: relative;
    border: 1px solid #9bc3d6!important;
    border-radius: 3px;
}

.checkboxChoices label span{
    display: block;
    float: left;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 50%;
}

.checkboxChoices label span:first-child{
    margin-left: -1px;
}

.checkboxChoices label span:last-child{
    right: -2px;
}

.checkboxChoices input[type="checkbox"]{
    position: absolute;
    left: -10000px;
}

.checkboxChoices input[type=checkbox]:not(:checked) + label span:first-child{
    background: #ea6c21;
    color: #fff;
}

.checkboxChoices input[type=checkbox]:checked + label span:last-child{
    background: #ea6c21;
    color: #fff;
}

#leaveTestimonials-text{
    text-align: left;
    margin-bottom: 60px;
}

#leaveTestimonials-text .label{
    margin-bottom: 4px;
}

#leaveTestimonials-text textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #3b7d9c;
    resize: none;
    height: 150px;
    font-family: Open Sans;
    color: #212121;
}

@media screen and (max-width: 500px){
    .checkboxChoices{
        height: auto;
    }

    #leaveTestimonials-type:before, #leaveTestimonials-type:after{
        display: none;
    }

    .checkboxChoices label span:first-child{
        margin-left: 0;
    }
    
    .checkboxChoices label span:last-child{
        right: 0!important;
    }

    .checkboxChoices label span{
        width: 100%;
    }
}
/* end leave testimonials */

/* applications list */
#applicationsList h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
}

#applicationsList h1 a{
    color: #212121;
    text-decoration: underline;
}

#applicationsList h1 a:hover{
    text-decoration: none;
}

.app-item{
    border-bottom: 1px solid #9bc3d6;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.app-item-author{
    padding-bottom: 7px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 15px;
}

.app-item-author_info{
    padding-left: 87px;
    position: relative;
    float: left;
    width: 80%;
    min-height: 82px;
}

.app-item-author_img{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0;
    top: 0;
    display: block;
}

.app-item-author_img img{
    width: 100%;
    display: block;
    border: 1px solid #ccc;
}

.app-item-author_info h3{
    float: left;
    width: 100%;
    max-width: 40%;
    padding-right: 15px;
}

.app-item-author_info h3 a{
    color: #212121;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.app-item-price{
    width: 20%;
    max-width: 150px;
    float: right;
    position: relative;
    padding-top: 36px;
    font-size: 16px;
}

.app-item-price span{
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.app-item-reviews{
    padding-top: 4px;
    float: left;
    margin-right: 50px;
    font-size: 12px;
}

.app-item-loc{
    float: left;
    width: 100%;
    padding-top: 7px;
    font-size: 12px;
}

.app-item-content{
    position: relative;
}

.app-item-content h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.app-item-content p{
    line-height: 1.5!important;
    font-size: 16px;
    margin-bottom: 25px;
}

@media screen and (max-width:767px){
    .app-item-author_info > *:not(.app-item-author_img){
        width: 100%;
        float: none;
    }

    .app-item-author_info h3{
        margin-bottom: 10px;
    }

    .app-item-author_info > h3{
        margin-bottom: 2px;
    }

    .app-item-author_info > h3 ~ div{
        margin: 2px 0;
    }
}

@media screen and (min-width:767px){
    .app-item-price{
        text-align: right;
    }

    .app-item.app-selected .app-item-content{
        padding-right: 240px;
        position: relative;
    }

    .leaveFeedback{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 767px){
    .app-item-price{
        font-size: 14px;
    }

    #applicationsList h1{
        font-size: 21px;
    }

}

@media screen and (max-width:500px){
    .app-item-author_info, .app-item-price{
        width: 100%;
        float: none;
    }

    .app-item-price{
        margin-top: 15px;
    }
}
/* end applications list */

.pagesNav{
    padding: 15px 0;
}

.pagesNav a, .pagesNav span{
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    color: #212121;
    font-size: 16px;
}

.pagesNav a{
    text-decoration: underline;
}

.pagesNav a:hover, .pagesNav a:active, .pagesNav a.active{
    text-decoration: none;
    color: #fff;
    background: #ea6c21;
}

.pageTitle{
    margin-bottom: 30px;
}

.pageTitle h1{
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pageTitle.withBlock h1{
    padding-right: 250px;
}

@media screen and (min-width: 992px){
    .pageTitle.withOption h1{
        min-height: 70px;
        padding-right: 250px;
    }
}

.pageTitle.bordered{
    padding-bottom: 15px;
    border-bottom: 1px solid #3b7d9c;
}

@media screen and (max-width: 992px){
    .pageTitle h1{
        padding-right: 0!important;
    }
}

@media screen and (max-width: 767px){
    .pageTitle h1{
        font-size: 21px!important;
    }
}

/* orders filter */
.ordersFilter > div{
    width: 33.33%;
    float: left;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.ordersFilter .label{
    margin-bottom: 3px;
    font-size: 12px;
    color: #727272;
}

.ordersFilter > div.fullwidth{
    margin-top: 15px;
}

.ordersFilter input[type=text], .ordersFilter input[type=pasword], .ordersFilter select{
    width: 100%;
    border-bottom: 1px solid #3b7d9c;
    padding-bottom: 3px;
    padding-left: 0!important;
}

.filterResults{
    margin-top: 90px;
    margin-bottom: 45px;
}

.filterResult{
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.filterResult > div{
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.filterResult.filter_notActive,
.filterResult.filter_notActive > div{
    border-color: #7c5446;
}

.filterResult.filter_refused,
.filterResult.filter_refused > div{
    border-color: #ffbe00;
}

.filterResult.filter_runs,
.filterResult.filter_runs > div{
    border-color: #39ac52;
}

.filterResult.filter_done,
.filterResult.filter_done > div{
    border-color: #9d9d9d;
}

.filterResult.filter_canceled,
.filterResult.filter_canceled > div{
    border-color: #ff452b;
}

.filterResult.filter_deactivated,
.filterResult.filter_deactivated > div{
    border-color: #c90037;
}

.filterResult table{
    width: 100%;
}

.filterResult td{
    vertical-align: top;
    padding: 10px;
    font-size: 16px;
}

.filterResult td:nth-child(1){
    width: 110px;
}

.filterResult td:nth-child(3){
    width: 96px;
}

.filterResult td:nth-child(4){
    width: 280px;
}

.filterResult td:nth-child(5){
    width: 100px;
}

.filterStatus{
    padding-top: 15px;
    font-size: 12px;
    color: #727272;
}

.filterTitle a, .filterQ_applications, .filterWorker{
    color: #212121;
    text-decoration: underline;
}

.filterTitle a:hover, .filterQ_applications:hover, .filterWorker:hover{
    text-decoration: none;
}

.filterCity{
    padding-top: 15px;
}

.filterDesc{
    padding-top: 15px;
    font-style: italic;
    color: #346f8a;
}

.filterPrice{
    color: #346f8a;
    font-weight: 600;
    font-size: 18px;
}

.filterPrice2{
    padding-top: 15px;
    font-size: 14px;
}

@media screen and (min-width: 767px){
    .ordersFilter > div:not(.fullwidth):nth-child(3n+2){        
    }
}

@media screen and (max-width: 767px){
    .filterResult td{
        width: 100%;
        display: block;
    }

    .ordersFilter > div{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .ordersFilter > div{
        width: 100%;
    }
}
/* end orders filter */


/* setApplication */
#setApplication{}

#setApplication > h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.setApplicationBlock:not(:first-child){
    margin-top: 24px;
}

.setApplicationBlock{
    padding: 20px 30px;
    background: #f3f3f3;
}

.setApplicationBlock > div{
    padding-left: 110px;
    position: relative;
}

.setApp-price{
    position: absolute;
    width: 70px;
    top: 0;
    left: 0;
}

.setApp-price .field{
    position: relative;
}

.setApp-price strong{
    position: absolute;
    right: -14px;
    top: 7px;
}

.label{
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.setApplicationBlock input{
    width: 100%;
    text-align: center;
    height: 36px;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    font-size: 14px;
}

.setApp-desc{
    width: 100%;
}

.setApp-desc textarea{
    padding: 15px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    font-size: 14px;
}

#setApplication .checkboxChoices{
    margin: 0;
}

#setApplication .checkboxChoices{
    max-width: 370px;
    margin: 30px 0 10px 0;
}

.appDifference{
    position: relative;
    z-index: 100;
}

.appDifference a{
    display: inline-block;
    min-height: 22px;
    font-size: 12x;
    color: #727272;
    text-decoration: none;
    padding-left: 24px;
    position: relative;
    padding-top: 1px;
}

.appDiffDesc{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    border: 1px solid #ccc;
    background:#fff;
    font-size: 12px;
    display: none; 
}

@media screen and (min-width: 767px){
    .appDifference:hover .appDiffDesc{
        display: block;
    } 
}

.appDiffDesc div:not(:first-child){
    margin-top: 15px;
}

.appDifference a:before{
    content: "?";
    width: 16px;
    height: 16px;
    border: 1px solid #3b7d9c;
    border-radius: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.sumarnaVartist{
    margin-top: 32px;
}

.sumarnaVartist h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}

.comissionBlock{
    color: #727272;
}

.comissionBlock a{
    color: #727272;
}

@media screen and (max-width: 767px){
    .setApplicationBlock > div{
        padding-left: 0;
    }

    .setApp-price{
        position: relative;
        margin-bottom: 15px;
    }
}
/* end setApplication */

.clientContacts h3{
    border-bottom: 0!important;
    padding-bottom: 0;
    margin-bottom: 15px!important;
}

.clientContacts h3 span{
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #3b7d9c;
}

.clientContacts .container > div > div:not(:first-child){
    margin-top: 7px;
}

.clientContacts .container > div > div > div{
    padding-left: 36px;
    padding-top: 1px;
    font-size: 16px;
}

/* site_table */
.site_table{
    width: 100%;
    font-size: 16px;
}

.site_table table{
    width: 100%;
}

.site_table td{
    padding: 10px;
    vertical-align: top;
}

.site_table tbody tr:nth-child(even){
    background: #f5f7f7;
}

.td_price, .td_status{
    text-align: right;
    width: 100px;
}

@media screen and (max-width: 767px){
    .site_table tr{
        padding: 10px;
        display: block;
    }

    .site_table td{
        display: block;
        text-align: left!important;
        padding: 0;
        margin: 2px 0;
    }

    .td_title{
        font-weight: 600;
    }
}
/* end site_table */

/* fee */
.feeRemTotal{
    padding-top: 30px;
    margin-bottom: 15px;
}

.feeRemTotal strong{
    font-size: 16px;
    margin-right: 15px;
    padding-top: 7px;
    display: inline-block;
    margin-bottom: 15px;
}

@media screen and (min-width: 767px){
    .fee-desc .container{
        padding-right: 450px;
        position: relative;
    }

    .currencyInfo{
        position: absolute;
        top: 30px;
        right: 0;
        width: 250px;
    }

    .currencyInfo p{
        line-height: 2;
    }
}
/* end fee */

/* err404 */
#err404{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 16px;
    line-height: 1.5;
}

#err404 > div{
    padding-top: 200px;
    background: url(../images/404.jpg) top left no-repeat;
}

#err404 > div > *, #err404 li{
    margin-bottom: 15px; 
}

#err404 h4{
    font-size: 20px;
}

#err404 li{
    list-style: decimal;
}

@media screen and (min-width: 992px){
    #err404{
        padding-right: 40%;
        background: url(../images/404.png) top right no-repeat;
        min-height: 550px;
    }
}

@media screen and (max-width: 600px){
    #err404{
        width: auto;
    }    
    
    #err404 > div{
        background-size: 308px auto;
    }
}
/* end err404 */

/* change password */
#registration{
    margin-top: 75px;
}

.passForm{
    max-width: 980px;
    margin: 0 auto;
}

.passFormIntro{
    max-width: 980px;
    margin: 0 auto 30px auto;
    font-size: 36px;
    text-align: center;
}

.passForm h1{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.passForm h1 span{
    display: inline-block;
    padding-left: 55px;
    min-height: 50px;
    background: url(../images/changePass.png) left top no-repeat;
    padding-top: 6px;
}

.passForm > div{
    padding: 30px;
    border: 1px solid #3b7d9c;
    margin-top: 15px;
    border-radius: 5px;
}

.passForm form > div > div{
    width: 100%;
}

.passForm [class*="site_icon"]{
    background-position: top left;
}

.passForm form{
    max-width: 440px;
    margin: 0 auto;
}

.passForm input[type=text], .passForm input[type=password]{
    padding: 5px 0;
    border-bottom: 1px solid #3b7d9c;
    width: 100%;
    font-size: 16px;
    height: 30px;
}

.passForm form > div:not(:first-child){
    margin-top: 25px;
}

.passForm .remark{
    text-align: left;
    text-transform: none!important;
    color: rgba(0,0,0,.3);
    padding-top: 4px!important;
}

.submitBtns{
    margin-top: 30px!important;
}

.passForm form .field{
    position: relative;
}

.togglePass{
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    background: url(../images/togglePass.png) 0 0 no-repeat;
    cursor: pointer;
}

.togglePass.show{
    background-position: 0 -24px;
}


@media screen and (min-width: 600px){
    .passForm input[type=button]:first-child, .passForm input[type=submit]:first-child{
        float: left;
        margin-right: 0;
    }
    .passForm input[type=button]:last-child, .passForm input[type=submit]:last-child{
        float: right;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px){
    .passForm form .submitBtns{
        text-align: center;
    }

    .passForm h1{
        font-size: 24px;
        line-height: 48px;
    }
}
/* end change password */

/* public info */
.publicInfo{
    padding-bottom: 30px;
    border-bottom: 1px solid #9bc3d6;
}

.publicInfo > div > [class*="site_icon"]{
    padding-left: 42px;
    background-position: top left!important;
}

.publicInfo > div:not(:first-child){
    margin-top: 15px;
}

.publicInfo > div > div:not(.site_icon-map){
    width: 100%;
    max-width: 500px;
}

.publicInfo > div > div.site_icon-phone_gray{
    max-width: 200px;
}

.publicInfo .label{
    text-transform: uppercase;
    color: #727272;
    text-transform: uppercase;
    padding-top: 8px;
    margin-bottom: 3px;
}

.publicInfo input[type=text], .publicInfo select{
    width: 100%;
    height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #3b7d9c;
    color: #727272;
    cursor: pointer;
}

.publicInfo textarea{
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    border: 1px solid #3b7d9c;
    width: 100%;
    height: 150px;
    resize: none;
}

.publicInfoChoice .checkboxChoices{
    margin-bottom: 15px;
    width: auto;
    width: 100%;
    max-width: 500px;
}

.publicInfoChoice .checkboxChoices label span{
    white-space: nowrap;
}

.publicInfoChoice{
    padding-left: 42px;
    position: relative;
}

.publicInfoChoice > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    float: left;
    line-height: 32px;
    color: #727272;
    font-size: 16px;
}

.companyLogoBlock{
    margin-top: 30px;
}

.companyLogoBlock > div:first-child{
    font-size: 12px;
    color: #727272;
    margin-bottom: 10px;
}

.companyLogoBlock > div:first-child strong{
    font-size: 16px;
    color: #212121;
}

.logoImgBlock{
    position: relative;
    padding-left: 133px;
    min-height: 118px;
}

.logoFile{
    position: absolute;
    width: 118px;
    height: 118px;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
}

.logoFile img{
    width: 100%;
}

.logoImgBlock > div:not(.logoFile){
    padding-top: 15px;
}

.logoImgBlock [class*="site_icon"]{
    padding-top: 0px;
    font-size: 16px;
    text-decoration: underline;
}

.logoImgBlock [class*="site_icon"]:hover{
    text-decoration: none;
}

.col3{
    width: 33.33%;
    float: left;
}

.publicInfo .col3{
    margin-bottom: 10px;
}

.publicInfo .site_icon-map .label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: none;
    color: #212121;
    padding-top: 1px;
}

@media screen and (max-width: 767px){
    .col3{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .logoImgBlock{
        padding-left: 0;
    }

    .logoFile{
        position: relative;
    }
}

/* end public info */

.styledChk{
    position: absolute;
    left: -10000px;
}

.styledChk + label{
    display: inline-block;
    padding-left: 23px;
    position: relative;
    min-height: 18px;
    cursor: pointer;
    font-size: 16px;
}
.styledChk[disabled] + label{
    color: grey;
    cursor: not-allowed;
}
.styledChk + label:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    background: url(../images/chkBG.jpg) 0 0 no-repeat;
}

.styledChk:checked + label:before{
    background-position: 0 -36px;
}

.controlBtn{
    padding: 15px;
    background: #f3f3f3;
}

/* block portfolio */
.block-portfolio h3{
    border-bottom: none!important;
}

.portfolio-item:nth-child(odd){
    float: left;
}

.portfolio-item:nth-child(even){
    float: right;
}

.portfolio-item{
    width: 49%;
    min-height: 154px;
    padding-left: 180px;
    position: relative;
}

.portfolio-pic{
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio-pic img{
    width: 100%;
}

.portfolio-pic ~ *{
    margin-bottom: 15px;
}

.portfolio-item a[class*="site_icon"]{
    font-size: 16px;
}

.portfolio-item a[class*="site_icon"]:hover{
    text-decoration: none;
}

@media screen and (max-width: 992px){
    .portfolio-item{
        width: 100%;
    }

    .portfolio-item:not(:first-child){
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px){
    .portfolio-item{
        padding-left: 60px;
    }

    .portfolio-pic{
        width: 50px;
        height: 50px;
    }
}
/* end block portfolio */

.applicatioQ{
    padding-bottom: 10px;
    font-size: 16px;
}

.listOfApp{
    margin-top: 60px;
}

@media screen and (min-width:767px){
    .listOfApp .app-item-content{
        padding-right: 300px!important;
    }
}

[class*="site_button"].withSym > span{
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
}

.projectStatus{
    padding-left: 0;
    padding-right: 32px;
    background-position: right center;
}

.td_status{
    white-space: nowrap;
}

.userData .changePassLink{
    margin-bottom: 45px;
    font-size: 16px;
}

.userData .changePassLink a{
    padding-top: 2px;
}

.userData form > div, .userData form > div > div{
    width: 100%;
    max-width: 500px;
}

.userData form > div > [class*="site_icon"]{
    padding-left: 42px;
    background-position: top left;
}

.userData form > div:not(:first-child){
    margin-top: 15px;
}

.userData input[type=text]{
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    width: 100%;
}

.userData .site_icon-phone_gray{
    max-width: 200px;
}

.remark{
    padding-top: 6px;
    text-align: center;
    font-size: 16px;
}

.workersList-item .app-item{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.workersList-item .app-item-author{
    padding-bottom: 15px;
}

.filterWorkers .label{
    font-size: 18px;
    color: #212121;
    padding-top: 5px;
    text-transform: none;
    font-weight: 600;
}

.filterWorkers .field{
    width: 100%;
    max-width: 350px;
}

.filterWorkers .field select{
    padding: 5px 0;
    border-bottom: 1px solid #3b7d9c;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}


.workerBlock .top10-item{
    width: 100%;
}

.workerDesc{
    max-width: 600px;
}

.workerContacts{
    font-size: 16px;
}

@media screen and (min-width: 992px){
    .workerContacts{
        position: absolute;
        padding: 15px;
        border: 1px solid #ccc;
        right: 0;
        top: 0;
        max-width: 300px;
    }
}

.portfolio{
    margin-bottom: 80px;
    margin-top: 45px;
}

.portfolio-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.portfolio-content{
    position: relative;
}

.portfolio-content li{
    overflow: hidden;
    border: none;
}
.portfolio-content li img{
    width: 100%;
}

.jcarousel-control-next, .jcarousel-control-prev{
    width: 61px;
    height: 122px;
    margin-top: -61px;
    border-radius: 0;
    background-size: cover;
    box-shadow: none;
}

.jcarousel-control-next{
    right: 0;
    background: url(../images/slider_bg_right.png) center no-repeat;
    background-size: cover;
}

.jcarousel-control-prev{
    left: 0;
    background: url(../images/slider_bg_left.png) center no-repeat;
}

.jcarousel-control-next:before, .jcarousel-control-prev:before{
    content: "";
    width: 48px;
    height: 48px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
}

.jcarousel-control-next:before{
    background: url(../images/arrow_next.png) center no-repeat;
    margin-left: -19px;
}

.jcarousel-control-prev:before{
    background: url(../images/arrow_prev.png) center no-repeat;
    margin-left: -30px;
}

.workerContactsData > div:not(:first-child){
    margin-top: 8px;
}

.workerContactsData > div > div{
    padding-left: 34px;
}

.workerContactsData .site_icon-phone_gray{
    padding-top: 5px;
}

form.powerCalc{
    font-size: 16px;
}

form.powerCalc input[type=text]{
    border-bottom: 1px solid #3b7d9c;
}

.formBlock:not(:first-child){
    margin-top: 30px;
}

.formBlock > div{
    margin-bottom: 8px;
}

.styledRadio{
    position: absolute;
    left: -9999px;
}

.styledRadio + label{
    padding-left: 24px;
    background: url(../images/radio.png) 0px -24px no-repeat;
    cursor: pointer;
}

.styledRadio:checked + label{
    background-position: 0 4px;
}

.toLowerCase{
    text-transform: lowercase!important;
}

.tooltip{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #9bc3d6;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 767px){
    .tooltip:hover:after{
        text-align: left;
        content: attr(data-tooltip);
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        border: 1px solid #ccc;
        padding: 3px 8px;
        color: #212121;
        font-size: 12px;
        text-transform: none!important;
        width: 400px;
        line-height: 1.2    5;
    }
}

.field_autonome .field input[type=text]{
    width: 120px;
} 

form.powerCalc h3{
    margin: 30px 0;
    font-weight: 600;
}

form.powerCalc h3 span{
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid #3b7d9c;
}

.calcData{
    margin-top: 10px;
}

.calcData input[type=text]{
    width: 40px;
    height: 30px;
}

.calcRow.disabled{
    opacity: .7
}

.calcRow.disabled input[type=text], .calcRow.disabled select{
    background: none;
}

.calcRow.disabled input[type=text], .calcRow.disabled select{
    border-bottom-color: #ccc;
}

.calcData select{
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
}

.calcData span{
    font-size: 12px;
    color: #727272;
}

.calcRow{
    margin-bottom: 30px!important;
}

.powerCalc-result{
    font-weight: 600;
}

#loginRegister{
    max-width: 980px;
    margin: 0 auto;
}

#loginRegister > *{
    float: left;
}

#loginBlock{
    width: 44%;
    padding-right: 146px;
    position: relative;
}

#loginRegister h3{
    height: 48px;
    padding: 0 15px;
    line-height: 48px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    background: #9bc3d6;
    margin-bottom: 75px;
}

.formLogin > div{
    margin-bottom: 30px;
}

.formLogin input[type=submit]{
    width: 100%;
}

.formLogin input[type=text], .formLogin input[type=password]{
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    width: 100%;
    font-size: 16px;
}

#registerBlock{
    width: 56%;
    padding-left: 70px;
}

.regSubBlock{
    width: 46%;
    text-align: center;
}

.regSubBlock:nth-child(odd){
    float: left;
}

.regSubBlock:nth-child(even){
    float: right;
}

.regSubBlock-pic{
    margin-bottom: 45px;
}

.regSubBlock [class*="site_button"]{
    margin-right: 0;
}


    #loginRegisterSep span{
        position: absolute;
        width: 76px;
        height: 76px;
        border: 2px solid #9bc3d6;
        border-radius: 76px;
        left: 50%;
        top: 50%;
        margin-top: -38px;
        margin-left: -38px;
        text-align: center;
        line-height: 76px;
        text-transform: uppercase;
        font-size: 12px;
        color: #3b7d9c;
        background: #fff;
        outline: 2px solid #fff;
    }


@media screen and (min-width: 767px){
    #loginRegisterSep{
        position: absolute;
        top: 0;
        right: 0;
        width: 76px;
        height: 100%;
    }

    #loginRegisterSep:before{
        content: "";
        width: 2px;
        background: #9bc3d6;
        height: 100%;
        left: 50%;
        margin-left: -1px;
        position: absolute;
    }
}

@media screen and (max-width: 767px){
    #loginBlock, #registerBlock{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    #loginBlock{
        padding-bottom: 126px;
    }

    #registerBlock{
        padding-top: 70px;
    }

    #loginRegisterSep{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 76px;
    }

    #loginRegisterSep:before{
        content: "";
        width: 100%;
        background: #9bc3d6;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        position: absolute;
    }

}

@media screen and (max-width: 500px){
    .regSubBlock{
        width: 100%;
    }
}

.searchProfHeader{
    background: #f3f3f3;
    padding: 60px 30px;
    text-align: center;
    color: #212121;
    margin-top: -50px;
    margin-bottom: 90px;
}

.searchProfHeader .container{
    max-width: 980px;
}

.searchProfHeader h1{
    font-size: 48px;
    color: #ea6c21;
    font-weight: 600;
    margin-bottom: 25px;
}

.searchProf_1 > div{
    width: 46%;
}

.searchProf_1 h3{
    font-weight: 600;
    margin-bottom: 10px;
}

.searchProf_1 p{
    min-height: 48px;
}

.searchProf_1 .i_have_house{
    float: left;
}

.i_have_house{
    background: url(../images/station-privatesolar.png) 0 0 no-repeat;
    padding-left: 185px;
    min-height: 135px;
}

.searchProf_1 .i_am_jur{
    float: right;
    padding-left: 185px;
    min-height: 135px;
}

.i_am_jur{
    background: url(../images/station-solar.png) 0 0 no-repeat;
}

@media screen and (min-width: 767px){
    .i_have_house, .i_am_jur{
        max-width: 450px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px){

    .searchProfHeader h1{
        font-size: 24px;
    }

    .searchProf_1 > div, .searchProf_2 .selected_category > div{
        width: 100%;
        text-align: center;
        background-position: top center;
    }

    .searchProf_1 > div:not(:first-child){
        margin-top: 60px;
    }    

    .i_have_house, .i_am_jur{
        padding-left: 0!important;
        padding-top: 150px;
    }

}

.hierarchy{
    text-align: center;
    padding-top: 90px;
}

.hierarchy h2{
    font-size: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.searchProfBlock{
    text-align: center;
    padding: 0 15px;
}

.searchProfBlock-pic{
    height: 135px;
    margin-bottom: 30px;
}

.searchProfBlock h3{
    margin-bottom: 10px;
}

@media screen and (min-width: 992px){
    .hierarchy h2{
        height: 101px;
        background: url(../images/el1.jpg) center no-repeat;
        padding-top: 20px;
        font-size: 20px;
    }

    .searchProfBlock{
        width: 33.33%;
        float: left;
    }
}

@media screen and (max-width: 992px){
    .searchProfBlock:not(:first-child){
        margin-top: 45px;
    }
}

.calc1{
}

.cost_offlineStation > div:not(:first-child){
    margin-top: 30px;
}

.calc1_wrapper{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.calc1_wrapper > div:after{
    clear: both;
    display: block;
    content: "";
}

.calc1_wrapper > div:not(:first-child){
    margin-top: 15px;
}

.calc_label, .calc_field{
    float: left;
    font-size: 12px;
    color: #727272;
}

.calc_label{
    width: 240px;
    padding-top: 7px;
    min-height: 30px;
    text-transform: uppercase;
    padding-top: 5px;
}

.calc_field input{
    width: 50px;
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    margin-right: 8px;
}

.calc1 a[class*="site_button"]{
    margin-top: 15px;
}

.cost_offlineStation textarea, .montageBlock textarea{
    padding: 15px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
}

.cost_offlineStation input[type=radio]{
    position: absolute;
    left: -9999px;
}

.calc1_radioBtns:after{
    clear: both;
    display: block;
    content: "";
}

.cost_offlineStation input[type=radio] + label{
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #3b7d9c;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    margin: 0 -2px;
    cursor: pointer;
    position: relative;
    z-index: 1; 
}

.cost_offlineStation input[type=radio] + label:hover, .cost_offlineStation input[type=radio]:checked + label{
    color: #fff;
    background: #ea6c21;
    border-color: #ea6c21;
    z-index: 2;
}

.montageBlock select, .montageBlock input[type=text]{
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    width: 90%;
    max-width: 280px;
    font-size: 16px;
}

.montageBlock > .container > div:not(:first-child), .montageBlock > .container > div > div:not(:first-child){
    margin-top: 30px;
}

.montageBlock > .container > div > div > div:not(:first-child), .cost_offlineStation > div > div > div:not(:first-child){
    margin-top: 25px;
}

.montageBlock h3{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.montageBlock h3 ~ div{
    padding-left: 36px;
}

.geo_coords{
    margin-left: 10px;
}

.geo_coords + div{
    padding-top: 5px;
}

.montageBlock textarea{
    max-width: 500px;
}

.jurBlock > .container > div > div:not(:first-child){
    margin-top: 8px;
}

@media screen and (min-width: 767px){
    .calc1_wrapper{
        padding-right: 35px;
        min-height: 75px;
        background: url(../images/el2.jpg) right top no-repeat;
    }

    .cost_offlineStation input[type=radio] + label{
        width: 25%;
    }
}

@media screen and (max-width: 767px){
    .cost_offlineStation input[type=radio] + label{
        width: 100%;
        margin: -1px 0;
    }
}

.uploaded_photos:after{
    clear: both;
    display: block;
    content: "";
}

.uploaded_photos > *{
    float: left;
    width: 192px;
    height: 144px;
    position: relative;
    margin: 0 15px 15px 0;
}

.deleteUploaded{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #346f8a;
}

.upload_photo{
    background: #f3f3f3;
    text-align: center;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #346f8a;
    text-decoration: none;
    padding-top: 112px;
}

.upload_photo span{
    content: "";
    height: 72px;
    width: 72px;
    text-align: center;
    line-height: 72px;
    border-radius: 72px;
    border: 1px solid #3b7d9c;
    position: absolute;
    left: 50%;
    top: 26px;
    margin-left: -36px;
    color: #3b7d9c;
    font-size: 48px;
}

.ckeckboxesBlock .container > div > div{
    margin: 14px 0;
}

.ckeckboxesBlock h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.costEstimationWrapper h1{
    font-size: 34px;
}

.cost_header{
    padding-left: 185px;
    max-width: 535px;
    background: url(../images/station-offline.png) left top no-repeat;
    min-height: 144px;
    padding-top: 30px;
}

.cost_header_mod{
    background: url(../images/station-solar.png) left top no-repeat;
}

.cost_header h4{
    font-size: 18px;
    font-weight: 600;
}

.cost_header p{
    font-size: 16px;
}

@media screen and (max-width: 767px){
    .cost_header{
        padding-left: 0;
        padding-top: 154px;
    }
}

.afterField{
    color: #727272;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 15px;
}

#sliderWrapper{
    height: 27px;
    width: 96%;
    max-width: 610px;
    background: url(../images/uiBg.jpg) center no-repeat;
    margin: 46px auto 0 auto;
    background-size: 100% auto;
}

.sliderRes:after{
    content: "2";
    position: relative;
    top: -5px;
    font-size: 10px;
}

@media screen and (max-width: 500px){
    #sliderWrapper{
        background: #3b7d9c;
        border-radius: 6px;
        height: 6px;
    }

}

#slider{
    margin: 0 4px;
    background: none;
    border: 0;
}

#custom-handle{
    width: 30px;
    height: 36px;
    background: url(../images/uiHandle.jpg) center no-repeat;
    border: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: -36px;
    margin-left: -16px;
    font-size: 12px;
}

@media screen and (min-width: 767px){
    #slider_resp{
        display: none;
    }
}

@media screen and (max-width: 767px){
    #slider_resp{
        display: block;
    }

    #slider_value{
        height: 30px;
        border-bottom: 1px solid #3b7d9c;
        width: 80px;
        margin: 15px auto 15px auto;
        display: block;
        text-align: center;
        font-size: 16px;
    }

    #slider_resp{
        text-align: center;
    }
}

@media screen and (min-width: 767px){
    .mobileShow{
        display: none;
    }
    .mobileHide{
        display: block;
    }
}

@media screen and (max-width: 767px){
    .mobileShow{
        display: block;
    }
    .mobileHide{
        display: none;
    }
}

#paramsDetails{
    display: none;
}

.td_date{
    color: #727272;
}

.refusedModerator{
    text-align: center;
}

.refusedModerator h3{
    border-bottom: 0!important;
    text-align: center;
    padding-bottom: 0!important;
}

.refusedModerator h3 span{
    border-bottom: 1px solid #212121;
}

/* modals */
#modalsWrapper{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: none;
}

.modal{
    background: #fff;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    padding: 45px;
    width: 600px;
    height: 240px;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -300px;
    display: none;
}

#appWarning{
    width: 440px;
    height: 160px;
    margin: -80px 0 0 -220px;
}

#addPortfolio{
    height: 440px;
    margin-top: -220px;
}

.closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url(../images/close.jpg) center no-repeat;
    opacity: .5;
    transition: all .2s linear;
    cursor: pointer;
}

.closeModal:hover{
    opacity: 1;
}

@media screen and (max-width: 767px){
    .modal{
        left: 0!important;
        top: 0!important;
        margin: 0!important;
        width: 100%!important;
        height: 100%!important;
        padding: 45px 15px!important;
    }
}
/* end modals */

@media screen and (min-width: 767px){
    .applicationTable td:not(:last-child){
        width: 20%;
    }
}

#addObject{
    display: inline-block;
    margin-top: 30px;
    position: relative;
    padding-left: 32px;
}

#addObject:before{
    color: #3B7D9D;
    font-size: 28px;
    font-family: Open Sans;
    position: absolute;
    width: 24px;
    margin-left: -32px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    content: "+";
    top: -3px;
}

#addPortfolio .label{
    text-transform: none!important;
}

#addPortfolio .label span{
    font-size: 16px;
    color: #212121;
    font-weight: bold;
}

#addPortfolio > div > div:not(:first-child){
    margin-top: 15px;
}

#addPortfolio textarea{
    height: 60px;
    width: 100%;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    padding: 10px;
    resize: none;
}

#addPortfolio p{
    font-size: 12px;
    color: #727272;
    line-height: 1.45;
}

#addPortfolio .afterField{
    padding-top: 5px;
}

#addPortfolio .logoImgBlock > div:not(.logoFile){
    padding-bottom: 15px;
    padding-top: 0px;
}

.iniHide{
    display: none;
}

@media screen and (max-width: 767px){
    .lb-data{
        padding: 0 10px;
    }

    .lb-caption{
        font-weight: normal!important;
        font-size: 12px!important;
        padding: 10px 0;
    }
}

.power-value{
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    width: 80px;
    margin: 15px 0;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.power-value + *{
    position: relative;
    top: 2px;
}

.underline{
    text-decoration: underline;
}
@media screen and (max-width: 420px){
    body{
        padding-bottom:185px;
    }

}